In [7]:
import pandas as pd
EmpleadosAttrition = pd.read_csv('/content/0.mikh5r1gs60.fukzkek4yb4empleadosRETO.csv')
print(EmpleadosAttrition.head())

   Age BusinessTravel              Department DistanceFromHome  Education  \
0   50  Travel_Rarely  Research & Development             1 km          2
1   36  Travel_Rarely  Research & Development             6 km          2
2   21  Travel_Rarely                   Sales             7 km          1
3   52  Travel_Rarely  Research & Development             7 km          4
4   33  Travel_Rarely  Research & Development            15 km          1

  EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  \
0        Medical              1             997                        4
1        Medical              1             178                        2
2      Marketing              1            1780                        2
3  Life Sciences              1            1118                        2
4        Medical              1             582                        2

  Gender  ...  PercentSalaryHike  PerformanceRating RelationshipSatisfaction  \
0   Male  ...                 22                  4                        3
1   Male  ...                 20                  4                        4
2   Male  ...                 13                  3                        2
3   Male  ...                 19                  3                        4
4   Male  ...                 12                  3                        4

   StandardHours TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0             80                32                      1                2
1             80                 7                      0                3
2             80                 1                      3                3
3             80                18                      4                3
4             80                15                      2                4

  YearsInCurrentRole YearsSinceLastPromotion Attrition
0                  4                       1        No
1                  2                       0        No
2                  0                       1       Yes
3                  6                       4        No
4                  6                       7       Yes

[5 rows x 30 columns]

In [8]:
import pandas as pd
EmpleadosAttrition = pd.read_csv('/content/0.mikh5r1gs60.fukzkek4yb4empleadosRETO.csv')

EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,Yes,13,3,3,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,Yes,11,3,3,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,Yes,14,3,3,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,No,19,3,4,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,No,13,3,4,8,5,3,7,1,No

In [9]:
import pandas as pd
EmpleadosAttrition = pd.read_csv('/content/0.mikh5r1gs60.fukzkek4yb4empleadosRETO.csv')
EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')
EmpleadosAttrition['HiringDate'] = EmpleadosAttrition['HiringDate'].dt.year

EmpleadosAttrition['HiringDate']

<ipython-input-9-d7add39be395>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')

0      2013.0
1      2015.0
2      2017.0
3      2010.0
4      2011.0
        ...
395    2013.0
396    2016.0
397    2008.0
398    2018.0
399    2010.0
Name: HiringDate, Length: 400, dtype: float64

In [10]:
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['HiringDate']
print(EmpleadosAttrition[['HiringDate', 'YearsAtCompany']])

     HiringDate  YearsAtCompany
0        2013.0             5.0
1        2015.0             3.0
2        2017.0             1.0
3        2010.0             8.0
4        2011.0             7.0
..          ...             ...
395      2013.0             5.0
396      2016.0             2.0
397      2008.0            10.0
398      2018.0             0.0
399      2010.0             8.0

[400 rows x 2 columns]

In [11]:
EmpleadosAttrition = EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'})
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,4,3,80,32,1,2,4,1,No,5.0
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,4,4,80,7,0,3,2,0,No,3.0
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,3,2,80,1,3,3,0,1,Yes,1.0
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,3,4,80,18,4,3,6,4,No,8.0
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,3,4,80,15,2,4,6,7,Yes,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,3,3,80,8,2,1,4,0,Yes,5.0
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,3,3,80,4,2,3,2,2,Yes,2.0
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,3,3,80,10,1,3,8,0,No,10.0
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,3,4,80,7,5,2,0,0,No,0.0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,3,4,80,8,5,3,7,1,No,8.0

In [12]:
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace('km', '', regex=False)
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,3,80,32,1,2,4,1,No,5.0,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,4,80,7,0,3,2,0,No,3.0,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,2,80,1,3,3,0,1,Yes,1.0,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,4,80,18,4,3,6,4,No,8.0,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,4,80,15,2,4,6,7,Yes,7.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,3,80,8,2,1,4,0,Yes,5.0,14
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,3,80,4,2,3,2,2,Yes,2.0,20
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,3,80,10,1,3,8,0,No,10.0,11
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,4,80,7,5,2,0,0,No,0.0,4
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,4,80,8,5,3,7,1,No,8.0,14

In [13]:
import pandas as pd

EmpleadosAttrition = pd.read_csv('/content/0.mikh5r1gs60.fukzkek4yb4empleadosRETO.csv')

if 'YearsAtCompany' not in EmpleadosAttrition.columns:
    EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')
    EmpleadosAttrition['HiringDate'] = EmpleadosAttrition['HiringDate'].dt.year
    EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['HiringDate']

if 'DistanceFromHome_km' not in EmpleadosAttrition.columns and 'DistanceFromHome' in EmpleadosAttrition.columns:
    EmpleadosAttrition = EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'})
if 'DistanceFromHome' not in EmpleadosAttrition.columns and 'DistanceFromHome_km' in EmpleadosAttrition.columns:
    EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace('km', '', regex=False)

columns_to_drop = ['HiringDate', 'Year', 'DistanceFromHome_km']
EmpleadosAttrition = EmpleadosAttrition.drop(columns=columns_to_drop, errors='ignore')

EmpleadosAttrition

<ipython-input-13-6073d84270cb>:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')

,Age,BusinessTravel,Department,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,1,997,4,Male,3,...,3,80,32,1,2,4,1,No,5.0,1
1,36,Travel_Rarely,Research & Development,2,Medical,1,178,2,Male,3,...,4,80,7,0,3,2,0,No,3.0,6
2,21,Travel_Rarely,Sales,1,Marketing,1,1780,2,Male,3,...,2,80,1,3,3,0,1,Yes,1.0,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1,1118,2,Male,3,...,4,80,18,4,3,6,4,No,8.0,7
4,33,Travel_Rarely,Research & Development,1,Medical,1,582,2,Male,3,...,4,80,15,2,4,6,7,Yes,7.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,1,325,3,Male,3,...,3,80,8,2,1,4,0,Yes,5.0,14
396,31,Travel_Rarely,Sales,3,Life Sciences,1,175,2,Female,1,...,3,80,4,2,3,2,2,Yes,2.0,20
397,37,Travel_Frequently,Research & Development,3,Other,1,306,2,Male,3,...,3,80,10,1,3,8,0,No,10.0,11
398,38,Travel_Rarely,Research & Development,2,Medical,1,1687,4,Female,3,...,4,80,7,5,2,0,0,No,0.0,4
399,33,Travel_Rarely,Research & Development,3,Medical,1,252,4,Female,3,...,4,80,8,5,3,7,1,No,8.0,14

In [14]:
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto = SueldoPromedioDepto.rename(columns={'MonthlyIncome': 'SueldoPromedio'})
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7188.250000

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
columnas_categoricas = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition']

for columna in columnas_categoricas:
    EmpleadosAttrition[columna] = le.fit_transform(EmpleadosAttrition[columna])

EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,2,1,2,3,1,997,4,1,3,...,3,80,32,1,2,4,1,0,5.0,1
1,36,2,1,2,3,1,178,2,1,3,...,4,80,7,0,3,2,0,0,3.0,6
2,21,2,2,1,2,1,1780,2,1,3,...,2,80,1,3,3,0,1,1,1.0,7
3,52,2,1,4,1,1,1118,2,1,3,...,4,80,18,4,3,6,4,0,8.0,7
4,33,2,1,1,3,1,582,2,1,3,...,4,80,15,2,4,6,7,1,7.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,2,1,3,3,1,325,3,1,3,...,3,80,8,2,1,4,0,1,5.0,14
396,31,2,2,3,1,1,175,2,0,1,...,3,80,4,2,3,2,2,1,2.0,20
397,37,1,1,3,4,1,306,2,1,3,...,3,80,10,1,3,8,0,0,10.0,11
398,38,2,1,2,3,1,1687,4,0,3,...,4,80,7,5,2,0,0,0,0.0,4
399,33,2,1,3,3,1,252,4,0,3,...,4,80,8,5,3,7,1,0,8.0,14

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

EmpleadosAttrition_encoded = EmpleadosAttrition.copy()

le = LabelEncoder()

for column in EmpleadosAttrition_encoded.select_dtypes(include=['object']).columns:
    EmpleadosAttrition_encoded[column] = le.fit_transform(EmpleadosAttrition_encoded[column])
correlation_with_attrition = EmpleadosAttrition_encoded.corr()['Attrition'].sort_values(ascending=False)

correlation_with_attrition

Attrition                   1.000000
OverTime                    0.324777
MaritalStatus               0.187283
JobRole                     0.078684
BusinessTravel              0.060677
Department                  0.054236
EducationField              0.051184
EmployeeNumber              0.007827
PerformanceRating          -0.006471
NumCompaniesWorked         -0.009082
DistanceFromHome           -0.010892
WorkLifeBalance            -0.021723
Gender                     -0.028839
RelationshipSatisfaction   -0.030945
Education                  -0.055531
PercentSalaryHike          -0.060880
YearsSinceLastPromotion    -0.069000
TrainingTimesLastYear      -0.070884
EnvironmentSatisfaction    -0.124327
JobSatisfaction            -0.164957
JobInvolvement             -0.166785
YearsAtCompany             -0.176287
MonthlyIncome              -0.194936
YearsInCurrentRole         -0.203918
Age                        -0.212121
TotalWorkingYears          -0.213329
JobLevel                   -0.214266
EmployeeCount                    NaN
Over18                           NaN
StandardHours                    NaN
Name: Attrition, dtype: float64

In [36]:
variables_to_keep = correlation_with_attrition[abs(correlation_with_attrition) >= 0.1].index

EmpleadosAttritionFinal = EmpleadosAttrition_encoded[variables_to_keep]
EmpleadoAttritionFinal

,Attrition,OverTime,MaritalStatus,EnvironmentSatisfaction,JobSatisfaction,JobInvolvement,YearsAtCompany,MonthlyIncome,YearsInCurrentRole,Age,TotalWorkingYears,JobLevel
0,0,0,0,4,4,3,5.0,17399,4,50,32,4
1,0,0,0,2,2,3,3.0,4941,2,36,7,2
2,1,0,2,2,2,3,1.0,2679,0,21,1,1
3,0,0,2,2,2,3,8.0,10445,6,52,18,3
4,1,1,1,2,3,3,7.0,13610,6,33,15,3
...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,1,1,3,4,3,5.0,2436,4,33,8,1
396,1,1,1,2,3,1,2.0,4559,2,31,4,2
397,0,1,0,2,4,3,10.0,12185,8,37,10,3
398,0,0,1,4,3,3,0.0,3306,0,38,7,1
399,0,0,1,4,2,3,8.0,2756,7,33,8,1

In [40]:
import numpy as np

EmpleadosAttritionPCA = np.array(EmpleadosAttritionFinal)
EmpleadosAttritionPCA[:,0]

array([0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0.])

In [55]:
EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)